/* 
    Created on : 21 févr. 2015, 18:27:32
    Author     : Rolland
*/

/*------------------------------------------------*\
        $INTERFACE
\*------------------------------------------------*/
.header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #398439;
    font-weight: bold;
}

.view{
    position: absolute;
    top: 60px; left: 0; right: 0;
}