/* 
    Created on : 21 fÃƒÂ©vr. 2015, 18:27:32
    Author     : Rolland
*/

/*------------------------------------------------*\
        $INTERFACE
\*------------------------------------------------*/
#logo{
    top: 0; left: 0;
    position: absolute;
}

.menu{
    margin-top: 150px;
}

.menu > li > a{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

.header {
    height: 200px;
    line-height: 200px;
    background-image: radial-gradient(at center top , #1780bf 10%, #0b4788 70%);
}

.view{
    position: absolute;
    top: 250px; left: 0; right: 0;
}